.myDiv {
  background-color: green;
}
#myCanvas {
  background-color: green;
  display: block;
}
section * {
  background-color: green;
  display: none;
}
h1 {
  font-size: 1.5cm;
  color: blue;
  text-align:center;
  text-decoration: underline;
  border-style: dotted;
  border-color: green;
  border-width: 3px;
  border-radius: 1in;
  margin: 80px 100px 80px 100px;
  padding: 30px 50px 30px 50px;
  max-width: 100%;
}
p {
  font-size: 5mm;
  line-height: 2em;
}
div {
  height: 100px;
  width: 500px;
}
table{
    position: relative;
}
video{
    position: static;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    min-width: 100%;
    font-size: 150%;
    border: 3ch;
    margin: auto;
}
svg[width="100"] {
  background-color: blue;
}
div:hover {
  background-color: blue;
}
a:active {
  color: yellow;
} 
h2, h3 {
  text-align: center;
  color: blue;
}

div p {
  background-color: green;
}
div > p {
  background-color: green;
}
div ~ p {
  background-color: green;
}
div + p {
  background-color: green;
}
p.myDiv {
  background-color: green;
}
@media only screen and (max-width:600px){
    footer{
        color: red;
    }
}
